@import "tailwindcss";

:root {
   --background: #faf6f3;
   --primary-text: #3a3a3a;
   --secondary: #d9c9be;
   --action: #006a4e;
}

@theme inline {
   --color-background: var(--background);
   --color-primary-text: var(--primary-text);
   --color-secondary: var(--secondary);
   --color-action: var(--action);

   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
   --animate-custom_pluse: h-pulse 1s ease-in-out
      infinite;
   @keyframes h-pulse {
      0% {
         opacity: 1;
      }
      50% {
         opacity: 0.25;
      }
      100% {
         opacity: 1;
      }
   }
}

svg {
   transition: color 0.2s ease-in-out;
}

.group:hover svg,
a:hover svg,
button:hover svg {
   color: #d9c9be !important;
}
.animated-grid-layer {
   position: absolute;
   top: 0;
   left: 0;
   width: 200%;
   height: 200%;
   z-index: 0;
   opacity: 0.15;
   pointer-events: none;

   background-image: radial-gradient(
      #333333 1px,
      transparent 1px
   );
   background-size: 50px 50px;
}
